#s-0779d75d-db1c-4d4d-8dd3-85791ac9358b #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0779d75d-db1c-4d4d-8dd3-85791ac9358b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0779d75d-db1c-4d4d-8dd3-85791ac9358b #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0779d75d-db1c-4d4d-8dd3-85791ac9358b #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0779d75d-db1c-4d4d-8dd3-85791ac9358b #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0779d75d-db1c-4d4d-8dd3-85791ac9358b #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0779d75d-db1c-4d4d-8dd3-85791ac9358b #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0779d75d-db1c-4d4d-8dd3-85791ac9358b #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0779d75d-db1c-4d4d-8dd3-85791ac9358b #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0779d75d-db1c-4d4d-8dd3-85791ac9358b #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0779d75d-db1c-4d4d-8dd3-85791ac9358b #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0779d75d-db1c-4d4d-8dd3-85791ac9358b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}