#s-0bdea0b6-0b3b-475b-9352-7b4008cb66e6 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-0bdea0b6-0b3b-475b-9352-7b4008cb66e6 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0bdea0b6-0b3b-475b-9352-7b4008cb66e6 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0bdea0b6-0b3b-475b-9352-7b4008cb66e6 #s-Text_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #7D7D7D;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #7D7D7D;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #7D7D7D;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #7D7D7D;
  -ms-transform: rotate(0.0deg);
}
#s-0bdea0b6-0b3b-475b-9352-7b4008cb66e6 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0bdea0b6-0b3b-475b-9352-7b4008cb66e6 #s-Text_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #7D7D7D;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #7D7D7D;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #7D7D7D;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #7D7D7D;
  -ms-transform: rotate(0.0deg);
}
#s-0bdea0b6-0b3b-475b-9352-7b4008cb66e6 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0bdea0b6-0b3b-475b-9352-7b4008cb66e6 #s-Text_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #7D7D7D;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #7D7D7D;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #7D7D7D;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #7D7D7D;
  -ms-transform: rotate(0.0deg);
}
#s-0bdea0b6-0b3b-475b-9352-7b4008cb66e6 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0bdea0b6-0b3b-475b-9352-7b4008cb66e6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}