#s-0bdea0b6-0b3b-475b-9352-7b4008cb66e6 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bdea0b6-0b3b-475b-9352-7b4008cb66e6 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bdea0b6-0b3b-475b-9352-7b4008cb66e6 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bdea0b6-0b3b-475b-9352-7b4008cb66e6 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bdea0b6-0b3b-475b-9352-7b4008cb66e6 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bdea0b6-0b3b-475b-9352-7b4008cb66e6 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bdea0b6-0b3b-475b-9352-7b4008cb66e6 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bdea0b6-0b3b-475b-9352-7b4008cb66e6 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bdea0b6-0b3b-475b-9352-7b4008cb66e6 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0bdea0b6-0b3b-475b-9352-7b4008cb66e6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}