#s-18c5bacd-6c56-41e5-8d51-39fc701232ca #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-18c5bacd-6c56-41e5-8d51-39fc701232ca #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-18c5bacd-6c56-41e5-8d51-39fc701232ca #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-18c5bacd-6c56-41e5-8d51-39fc701232ca #s-Text_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #7D7D7D;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #7D7D7D;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #7D7D7D;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #7D7D7D;
  -ms-transform: rotate(0.0deg);
}
#s-18c5bacd-6c56-41e5-8d51-39fc701232ca #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-18c5bacd-6c56-41e5-8d51-39fc701232ca #s-Text_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #7D7D7D;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #7D7D7D;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #7D7D7D;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #7D7D7D;
  -ms-transform: rotate(0.0deg);
}
#s-18c5bacd-6c56-41e5-8d51-39fc701232ca #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-18c5bacd-6c56-41e5-8d51-39fc701232ca #s-Text_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #7D7D7D;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #7D7D7D;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #7D7D7D;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #7D7D7D;
  -ms-transform: rotate(0.0deg);
}
#s-18c5bacd-6c56-41e5-8d51-39fc701232ca #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  height: 42px;
  width: 131px;
  -ms-transform: rotate(0.0deg);
}
#s-18c5bacd-6c56-41e5-8d51-39fc701232ca #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-18c5bacd-6c56-41e5-8d51-39fc701232ca #s-Image_81 {
  -ms-transform: rotate(0.0deg);
}
#s-18c5bacd-6c56-41e5-8d51-39fc701232ca #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-18c5bacd-6c56-41e5-8d51-39fc701232ca #s-Image_82 {
  -ms-transform: rotate(0.0deg);
}
#s-18c5bacd-6c56-41e5-8d51-39fc701232ca #s-Image_83 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-18c5bacd-6c56-41e5-8d51-39fc701232ca > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}