#s-18c5bacd-6c56-41e5-8d51-39fc701232ca #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18c5bacd-6c56-41e5-8d51-39fc701232ca #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18c5bacd-6c56-41e5-8d51-39fc701232ca #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18c5bacd-6c56-41e5-8d51-39fc701232ca #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18c5bacd-6c56-41e5-8d51-39fc701232ca #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18c5bacd-6c56-41e5-8d51-39fc701232ca #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18c5bacd-6c56-41e5-8d51-39fc701232ca #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18c5bacd-6c56-41e5-8d51-39fc701232ca #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18c5bacd-6c56-41e5-8d51-39fc701232ca #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18c5bacd-6c56-41e5-8d51-39fc701232ca #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18c5bacd-6c56-41e5-8d51-39fc701232ca #s-Image_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18c5bacd-6c56-41e5-8d51-39fc701232ca #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18c5bacd-6c56-41e5-8d51-39fc701232ca #s-Image_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-18c5bacd-6c56-41e5-8d51-39fc701232ca #s-Image_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-18c5bacd-6c56-41e5-8d51-39fc701232ca > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}