#s-18f87441-f2b8-41dc-9304-54ad7e58c196 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-18f87441-f2b8-41dc-9304-54ad7e58c196 #s-Bg_top {
  -ms-transform: rotate(0.0deg);
}
#s-18f87441-f2b8-41dc-9304-54ad7e58c196 #s-Menu {
  -ms-transform: rotate(0.0deg);
}
#s-18f87441-f2b8-41dc-9304-54ad7e58c196 #s-Image_121 {
  -ms-transform: rotate(0.0deg);
}
#s-18f87441-f2b8-41dc-9304-54ad7e58c196 #s-Image_122 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-18f87441-f2b8-41dc-9304-54ad7e58c196 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}