#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Bg_top {
  -ms-transform: rotate(0.0deg);
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Menu {
  -ms-transform: rotate(0.0deg);
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Panel_7 {
  border-radius: 0px 0px 0px 0px;
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Panel_7 > .valign {
  vertical-align: top;
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Rectangle_115 {
  -ms-transform: rotate(0.0deg);
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Image_195 {
  -ms-transform: rotate(0.0deg);
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Two-line-item_27 {
  -ms-transform: rotate(0.0deg);
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Two-line-item_12 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-outbox {
  -ms-transform: rotate(0.0deg);
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Two-line-item_13 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Image_104 {
  -ms-transform: rotate(0.0deg);
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Two-line-item_28 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Two-line-item_23 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-spam {
  -ms-transform: rotate(0.0deg);
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Image_121 {
  -ms-transform: rotate(0.0deg);
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Image_122 {
  -ms-transform: rotate(0.0deg);
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Line_1 {
  border-top-width: 3px;
  border-top-style: dashed;
  border-top-color: #000000;
  -ms-transform: rotate(226.0deg);
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Line_1 {
  border-top-width: 3px;
  border-top-style: dashed;
  border-top-color: #000000;
  -ms-transform: rotate(226.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}