#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Bg_top {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Rectangle_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Image_195 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Two-line-item_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Two-line-item_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-outbox {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Two-line-item_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Image_104 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Two-line-item_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Two-line-item_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-spam {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Image_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Image_122 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b #s-Line_1 {
  rotation: 226.0;
  margin-left: 24px;
  margin-top: -72px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-24ba8d79-48fe-4a98-862d-7668fa24f64b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}