#s-7031e79e-5e22-479c-82d2-582b955295cd #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-7031e79e-5e22-479c-82d2-582b955295cd #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7031e79e-5e22-479c-82d2-582b955295cd #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-7031e79e-5e22-479c-82d2-582b955295cd #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-7031e79e-5e22-479c-82d2-582b955295cd #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7031e79e-5e22-479c-82d2-582b955295cd #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7031e79e-5e22-479c-82d2-582b955295cd #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-7031e79e-5e22-479c-82d2-582b955295cd #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7031e79e-5e22-479c-82d2-582b955295cd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}