#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Bg_top {
  -ms-transform: rotate(0.0deg);
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Menu {
  -ms-transform: rotate(0.0deg);
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Panel_7 {
  border-radius: 0px 0px 0px 0px;
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Panel_7 > .valign {
  vertical-align: top;
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Rectangle_115 {
  -ms-transform: rotate(0.0deg);
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Image_195 {
  -ms-transform: rotate(0.0deg);
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Two-line-item_27 {
  -ms-transform: rotate(0.0deg);
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Two-line-item_12 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-outbox {
  -ms-transform: rotate(0.0deg);
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Two-line-item_13 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Image_104 {
  -ms-transform: rotate(0.0deg);
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Two-line-item_28 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Two-line-item_23 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-spam {
  -ms-transform: rotate(0.0deg);
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Image_121 {
  -ms-transform: rotate(0.0deg);
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Image_122 {
  -ms-transform: rotate(0.0deg);
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Text_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}