#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Bg_top {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Rectangle_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Image_195 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Two-line-item_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Two-line-item_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-outbox {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Two-line-item_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Image_104 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Two-line-item_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Two-line-item_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-spam {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Image_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Image_122 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7dd83294-d6c6-4e8c-95c7-c70d2d0d958d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}