#s-88432a70-0a03-4c99-82d1-7d2aaf596ff8 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-88432a70-0a03-4c99-82d1-7d2aaf596ff8 #s-Bg_top {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-88432a70-0a03-4c99-82d1-7d2aaf596ff8 #s-Menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-88432a70-0a03-4c99-82d1-7d2aaf596ff8 #s-Image_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-88432a70-0a03-4c99-82d1-7d2aaf596ff8 #s-Image_122 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-88432a70-0a03-4c99-82d1-7d2aaf596ff8 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-88432a70-0a03-4c99-82d1-7d2aaf596ff8 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-88432a70-0a03-4c99-82d1-7d2aaf596ff8 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-88432a70-0a03-4c99-82d1-7d2aaf596ff8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}