#s-89054b65-7d2f-48b8-8986-1af7f6440619 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #233368;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_1 {
  position: absolute;
  width: 360px;
  height: 641px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_1 > .clipping, #s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_1 > .paddingLayer {
  height: 641px;
  width: 360px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 48.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_2 > .clipping, #s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 48.0pt;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-logo {
  position: absolute;
  width: 131px;
  height: 130px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-logo > img, #s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-logo > svg {
  height: 130px;
  width: 131px;
  box-shadow: none;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Image_1 > svg {
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Image_1 {
  position: absolute;
  width: 118px;
  height: 114px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Image_1 > img, #s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Image_1 > svg {
  height: 114px;
  width: 118px;
  box-shadow: none;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Image_44 > svg {
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Image_44 {
  position: absolute;
  width: 118px;
  height: 114px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Image_44 > img, #s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Image_44 > svg {
  height: 114px;
  width: 118px;
  box-shadow: none;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Image_3 > svg {
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Image_3 {
  position: absolute;
  width: 118px;
  height: 114px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Image_3 > img, #s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Image_3 > svg {
  height: 114px;
  width: 118px;
  box-shadow: none;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Image_81 > svg {
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Image_81 {
  position: absolute;
  width: 118px;
  height: 114px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Image_81 > img, #s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Image_81 > svg {
  height: 114px;
  width: 118px;
  box-shadow: none;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Image_70 > svg {
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Image_70 {
  position: absolute;
  width: 118px;
  height: 114px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Image_70 > img, #s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Image_70 > svg {
  height: 114px;
  width: 118px;
  box-shadow: none;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Image_96 > svg {
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Image_96 {
  position: absolute;
  width: 118px;
  height: 114px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Image_96 > img, #s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Image_96 > svg {
  height: 114px;
  width: 118px;
  box-shadow: none;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_3 {
  position: absolute;
  width: 140px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_3 > .clipping, #s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_3 > .paddingLayer {
  height: 30px;
  width: 140px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_4 {
  position: absolute;
  width: 140px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_4 > .clipping, #s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_4 > .paddingLayer {
  height: 30px;
  width: 140px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_5 {
  position: absolute;
  width: 140px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_5 > .clipping, #s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_5 > .paddingLayer {
  height: 30px;
  width: 140px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_6 {
  position: absolute;
  width: 140px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_6 > .clipping, #s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_6 > .paddingLayer {
  height: 30px;
  width: 140px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_6 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_7 {
  position: absolute;
  width: 140px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_7 > .clipping, #s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_7 > .paddingLayer {
  height: 30px;
  width: 140px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_7 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_8 {
  position: absolute;
  width: 140px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_8 > .clipping, #s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_8 > .paddingLayer {
  height: 30px;
  width: 140px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_8 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Hotspot_1 {
  position: absolute;
  width: 116px;
  height: 131px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Hotspot_1 > img, #s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Hotspot_1 > svg {
  height: 131px;
  width: 116px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Hotspot_2 {
  position: absolute;
  width: 117px;
  height: 129px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Hotspot_2 > img, #s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Hotspot_2 > svg {
  height: 129px;
  width: 117px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Hotspot_3 {
  position: absolute;
  width: 115px;
  height: 118px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Hotspot_3 > img, #s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Hotspot_3 > svg {
  height: 118px;
  width: 115px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Hotspot_4 {
  position: absolute;
  width: 119px;
  height: 118px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Hotspot_4 > img, #s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Hotspot_4 > svg {
  height: 118px;
  width: 119px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Hotspot_5 {
  position: absolute;
  width: 119px;
  height: 129px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Hotspot_5 > img, #s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Hotspot_5 > svg {
  height: 129px;
  width: 119px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Hotspot_6 {
  position: absolute;
  width: 119px;
  height: 129px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Hotspot_6 > img, #s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Hotspot_6 > svg {
  height: 129px;
  width: 119px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}