#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Image_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Image_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Image_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-89054b65-7d2f-48b8-8986-1af7f6440619 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}