#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Background > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #233368;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Background {
  position: absolute;
  width: 360px;
  height: 640px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Arial',Arial;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Background > .clipping, #s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Background > .paddingLayer {
  height: 640px;
  width: 360px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Background .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Background span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Background span#rtr-s-Background_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-logo {
  position: absolute;
  width: 252px;
  height: 252px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-logo > img, #s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-logo > svg {
  height: 252px;
  width: 252px;
  box-shadow: none;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 48.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Text_1 > .clipping, #s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Text_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 48.0pt;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Input_1 {
  position: absolute;
  width: 189px;
  height: 31px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Input_1 input {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Input_1 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #B4B4B4;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #010002;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #010002;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #010002;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #010002;
  box-shadow: none;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Input_1 > .paddingLayer {
  height: 27px;
  width: 180px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 7px;
  padding-right: 2px;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Image_121 > svg {
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Image_121 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Image_121 > img, #s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Image_121 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Input_2 {
  position: absolute;
  width: 190px;
  height: 31px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Input_2 input {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Input_2 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #B4B4B4;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #010002;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #010002;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #010002;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #010002;
  box-shadow: none;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Input_2 > .paddingLayer {
  height: 27px;
  width: 181px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 7px;
  padding-right: 2px;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Input_3 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Input_3 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Input_3 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Input_3 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Input_3 {
  position: absolute;
  width: 189px;
  height: 31px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Input_3 input {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Input_3 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #B4B4B4;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #010002;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #010002;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #010002;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #010002;
  box-shadow: none;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Input_3 > .paddingLayer {
  height: 27px;
  width: 180px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 7px;
  padding-right: 2px;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Image_2 > svg {
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Image_2 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Image_2 > img, #s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Image_2 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Image_122 > svg {
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Image_122 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Image_122 > img, #s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Image_122 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Button_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #000000;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B4B4B4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B4B4B4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B4B4B4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B4B4B4;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0px 0px 0px 0px #A0A0A0;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Button_1 {
  position: absolute;
  width: 130px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Button_1 > .clipping, #s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Button_1 > .paddingLayer {
  height: 42px;
  width: 124px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Hotspot_1 {
  position: absolute;
  width: 129px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Hotspot_1 > img, #s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Hotspot_1 > svg {
  height: 50px;
  width: 129px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Text_2 {
  position: absolute;
  width: 140px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Text_2 > .clipping, #s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Text_2 > .paddingLayer {
  height: 30px;
  width: 140px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Text_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Text_3 {
  position: absolute;
  width: 140px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Text_3 > .clipping, #s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Text_3 > .paddingLayer {
  height: 30px;
  width: 140px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Text_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Text_4 {
  position: absolute;
  width: 140px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Text_4 > .clipping, #s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Text_4 > .paddingLayer {
  height: 30px;
  width: 140px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Text_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8a4897e9-b064-4cfa-b08e-6f61f2d8ba02 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}