#s-917f9232-7ebf-4b42-a096-87fa0d02c80e #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-917f9232-7ebf-4b42-a096-87fa0d02c80e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-917f9232-7ebf-4b42-a096-87fa0d02c80e #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-917f9232-7ebf-4b42-a096-87fa0d02c80e #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-917f9232-7ebf-4b42-a096-87fa0d02c80e #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-917f9232-7ebf-4b42-a096-87fa0d02c80e #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-917f9232-7ebf-4b42-a096-87fa0d02c80e #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-917f9232-7ebf-4b42-a096-87fa0d02c80e #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-917f9232-7ebf-4b42-a096-87fa0d02c80e #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-917f9232-7ebf-4b42-a096-87fa0d02c80e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}