#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #233368;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_1 {
  position: absolute;
  width: 360px;
  height: 641px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_1 > .clipping, #s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_1 > .paddingLayer {
  height: 641px;
  width: 360px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 48.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_2 > .clipping, #s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 48.0pt;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-logo {
  position: absolute;
  width: 131px;
  height: 130px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-logo > img, #s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-logo > svg {
  height: 130px;
  width: 131px;
  box-shadow: none;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Image_1 > svg {
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Image_1 {
  position: absolute;
  width: 118px;
  height: 114px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Image_1 > img, #s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Image_1 > svg {
  height: 114px;
  width: 118px;
  box-shadow: none;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Image_44 > svg {
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Image_44 {
  position: absolute;
  width: 118px;
  height: 114px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Image_44 > img, #s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Image_44 > svg {
  height: 114px;
  width: 118px;
  box-shadow: none;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Image_3 > svg {
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Image_3 {
  position: absolute;
  width: 118px;
  height: 114px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Image_3 > img, #s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Image_3 > svg {
  height: 114px;
  width: 118px;
  box-shadow: none;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Image_81 > svg {
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Image_81 {
  position: absolute;
  width: 118px;
  height: 114px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Image_81 > img, #s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Image_81 > svg {
  height: 114px;
  width: 118px;
  box-shadow: none;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Image_70 > svg {
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Image_70 {
  position: absolute;
  width: 118px;
  height: 114px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Image_70 > img, #s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Image_70 > svg {
  height: 114px;
  width: 118px;
  box-shadow: none;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Image_96 > svg {
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Image_96 {
  position: absolute;
  width: 118px;
  height: 114px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Image_96 > img, #s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Image_96 > svg {
  height: 114px;
  width: 118px;
  box-shadow: none;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_3 {
  position: absolute;
  width: 140px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_3 > .clipping, #s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_3 > .paddingLayer {
  height: 30px;
  width: 140px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_4 {
  position: absolute;
  width: 140px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_4 > .clipping, #s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_4 > .paddingLayer {
  height: 30px;
  width: 140px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_5 {
  position: absolute;
  width: 140px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_5 > .clipping, #s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_5 > .paddingLayer {
  height: 30px;
  width: 140px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_6 {
  position: absolute;
  width: 140px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_6 > .clipping, #s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_6 > .paddingLayer {
  height: 30px;
  width: 140px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_6 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_7 {
  position: absolute;
  width: 140px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_7 > .clipping, #s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_7 > .paddingLayer {
  height: 30px;
  width: 140px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_7 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_8 {
  position: absolute;
  width: 140px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_8 > .clipping, #s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_8 > .paddingLayer {
  height: 30px;
  width: 140px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_8 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_9 > .backgroundLayer {
  height: calc(100% + -8px);
  width: calc(100% + -8px);
  background-color: #999999;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #000000;
  box-shadow: none;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_9 {
  position: absolute;
  width: 360px;
  height: 265px;
  opacity: 0.88;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_9 > .clipping, #s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_9 > .paddingLayer {
  height: 257px;
  width: 352px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_9 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Input_1 {
  position: absolute;
  width: 360px;
  height: 123px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 20.0pt;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Input_1 input {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 20.0pt;
  text-shadow: none;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Input_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Input_1 > .paddingLayer {
  height: 123px;
  width: 355px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 0px;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Input_2 {
  position: absolute;
  width: 282px;
  height: 59px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 18.0pt;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 18.0pt;
  text-shadow: none;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Input_2 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  box-shadow: none;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Input_2 > .paddingLayer {
  height: 55px;
  width: 273px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 7px;
  padding-right: 2px;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Button_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 3px 4px 0px #A0A0A0;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Button_1 {
  position: absolute;
  width: 156px;
  height: 63px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.999999pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Button_1 > .clipping, #s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Button_1 > .paddingLayer {
  height: 59px;
  width: 152px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.999999pt;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.999999pt;
  line-height: 0px;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Hotspot_1 {
  position: absolute;
  width: 155px;
  height: 62px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Hotspot_1 > img, #s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 #s-Hotspot_1 > svg {
  height: 62px;
  width: 155px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-98dc3d9d-140b-4b42-970f-4e1ad51c8ce7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}