#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Bg_top {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Rectangle_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Image_195 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Two-line-item_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Two-line-item_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-outbox {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Two-line-item_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Image_104 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Two-line-item_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Two-line-item_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-spam {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Image_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Image_122 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}