#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Bg_top {
  -ms-transform: rotate(0.0deg);
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Menu {
  -ms-transform: rotate(0.0deg);
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Panel_7 {
  border-radius: 0px 0px 0px 0px;
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Panel_7 > .valign {
  vertical-align: top;
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Rectangle_115 {
  -ms-transform: rotate(0.0deg);
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Image_195 {
  -ms-transform: rotate(0.0deg);
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Two-line-item_27 {
  -ms-transform: rotate(0.0deg);
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Two-line-item_12 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-outbox {
  -ms-transform: rotate(0.0deg);
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Two-line-item_13 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Image_104 {
  -ms-transform: rotate(0.0deg);
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Two-line-item_28 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Two-line-item_23 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-spam {
  -ms-transform: rotate(0.0deg);
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Image_121 {
  -ms-transform: rotate(0.0deg);
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Image_122 {
  -ms-transform: rotate(0.0deg);
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Text_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  height: 42px;
  width: 81px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-9ba6a4ea-078a-426a-aad8-92ae16ea4705 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}