#s-9d0bf519-8021-4265-8a97-ce7e71b85aed #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d0bf519-8021-4265-8a97-ce7e71b85aed #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d0bf519-8021-4265-8a97-ce7e71b85aed #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d0bf519-8021-4265-8a97-ce7e71b85aed #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d0bf519-8021-4265-8a97-ce7e71b85aed #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-9d0bf519-8021-4265-8a97-ce7e71b85aed > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}