#s-c00de8a1-4df5-4583-86f2-f3616c96ccd7 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00de8a1-4df5-4583-86f2-f3616c96ccd7 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00de8a1-4df5-4583-86f2-f3616c96ccd7 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c00de8a1-4df5-4583-86f2-f3616c96ccd7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}