#s-c74e7050-bed3-4a29-a288-fa71673bb653 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c74e7050-bed3-4a29-a288-fa71673bb653 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c74e7050-bed3-4a29-a288-fa71673bb653 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c74e7050-bed3-4a29-a288-fa71673bb653 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}