#s-e2ad5a3f-ce89-45a0-b5c9-dce8de53b5a6 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e2ad5a3f-ce89-45a0-b5c9-dce8de53b5a6 #s-Bg_top {
  -ms-transform: rotate(0.0deg);
}
#s-e2ad5a3f-ce89-45a0-b5c9-dce8de53b5a6 #s-Menu {
  -ms-transform: rotate(0.0deg);
}
#s-e2ad5a3f-ce89-45a0-b5c9-dce8de53b5a6 #s-Panel_7 {
  border-radius: 0px 0px 0px 0px;
}
#s-e2ad5a3f-ce89-45a0-b5c9-dce8de53b5a6 #s-Panel_7 > .valign {
  vertical-align: top;
}
#s-e2ad5a3f-ce89-45a0-b5c9-dce8de53b5a6 #s-Rectangle_115 {
  -ms-transform: rotate(0.0deg);
}
#s-e2ad5a3f-ce89-45a0-b5c9-dce8de53b5a6 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-e2ad5a3f-ce89-45a0-b5c9-dce8de53b5a6 #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-e2ad5a3f-ce89-45a0-b5c9-dce8de53b5a6 #s-Image_195 {
  -ms-transform: rotate(0.0deg);
}
#s-e2ad5a3f-ce89-45a0-b5c9-dce8de53b5a6 #s-Two-line-item_27 {
  -ms-transform: rotate(0.0deg);
}
#s-e2ad5a3f-ce89-45a0-b5c9-dce8de53b5a6 #s-Two-line-item_12 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-e2ad5a3f-ce89-45a0-b5c9-dce8de53b5a6 #s-outbox {
  -ms-transform: rotate(0.0deg);
}
#s-e2ad5a3f-ce89-45a0-b5c9-dce8de53b5a6 #s-Two-line-item_13 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-e2ad5a3f-ce89-45a0-b5c9-dce8de53b5a6 #s-Image_104 {
  -ms-transform: rotate(0.0deg);
}
#s-e2ad5a3f-ce89-45a0-b5c9-dce8de53b5a6 #s-Two-line-item_28 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-e2ad5a3f-ce89-45a0-b5c9-dce8de53b5a6 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e2ad5a3f-ce89-45a0-b5c9-dce8de53b5a6 #s-Two-line-item_23 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-e2ad5a3f-ce89-45a0-b5c9-dce8de53b5a6 #s-spam {
  -ms-transform: rotate(0.0deg);
}
#s-e2ad5a3f-ce89-45a0-b5c9-dce8de53b5a6 #s-Two-line-item_24 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-e2ad5a3f-ce89-45a0-b5c9-dce8de53b5a6 #s-Image_96 {
  -ms-transform: rotate(0.0deg);
}
#s-e2ad5a3f-ce89-45a0-b5c9-dce8de53b5a6 #s-Image_121 {
  -ms-transform: rotate(0.0deg);
}
#s-e2ad5a3f-ce89-45a0-b5c9-dce8de53b5a6 #s-Image_122 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e2ad5a3f-ce89-45a0-b5c9-dce8de53b5a6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}